:root {
    --primary-color: #3498db;      /* color primario */
    --secondary-color: #2ecc71;    /* color secundario */
    --background-color: #707D9B;    /* fondo */
}

/* Ejemplo de sobrescritura de clases de Bootstrap */
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

body {
    background-color: var(--background-color);
}

.navbar, .footer {
    background-color: var(--primary-color);
}